<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>
<style>
  body{
    background:linear-gradient(rgb(245, 166, 215),rgb(189, 214, 148));
    height: 100vh;
  width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom   ;
  }
  .btn-secondary{
    background-color: rgb(191, 186, 34);
    border: 2px solid rgb(191, 186, 34);

  }
  .btn-info{
    background-color: rgb(191, 186, 34);
    border: 2px solid rgb(191, 186, 34);
  }
  .btn-secondary:hover{
    background-color: rgb(208, 203, 63);
  color: beige;
    transition:all ease 0.3s;

  }
  .btn-info:hover{
    background-color: rgb(208, 203, 63);
  color: beige;
    transition:all ease 0.3s;

  }
</style>
<body>
  <div class="container">
    <h1 class="mb-1"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

    <div>
      <%- article.sanitizedHtml %>
    </div>
  </div>
</body>
</html>