<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/signin.css">
    <title>Blog Website</title>
</head>
<body>
    
<!-- Signup -->
    <div class="container">
        <img src="images/background.jpg" class="bg-image">
        <div class="inner_container">
            <div class="box-container">
                <div class="register">
                    <h2>REGISTER</h2>
                    <form action="/signup" method="POST">    
                        <input class="box" type="text" placeholder="Full Name" id="name" name="name" required></input>
                        <input class="box" type="email" placeholder="Email" id="email" name="email" required></input>
                        <input class="box" type="password" placeholder="Password" id="password" name="password" required></input>
                        <button class="sub" type="submit">SIGN UP</button>      
                        <a href="/signin" class="btn">Already have an account?</a>
                    </form> 
                </div>
            </div>
        </div>
    </div>
    <script>
        script="js/menu.js"
    </script>

</body>
</html>